.menu {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.menu .menuTitle {
    color: rgb(255, 127, 0);
    font-size: 60px;
    font-style: inherit;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1.9rem;
}

.secondTitle {
    color: rgb(255, 127, 0);
    font-size: 40px;
    font-style: inherit;
    font-weight: bold;
    margin-left: -32rem;
    margin-bottom: 3rem;
}

.menuList {
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;

}

.nameItem {
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
    color: rgb(255, 127, 0);
}

.price {
    font-weight: bold;
    font-style: normal;
    font-size: 25px;
    color: #243763;
}

.menuRow1 {
    margin-left: -10rem;
    margin-right: -10rem;
}

.imgProduse {
    max-height: 40rem;
    overflow: hidden;
    border-radius: 1rem;
    height: 20rem;
    width: 20rem;
    object-fit: cover;
}

.imgProduse:hover {
    transform: scale(1.2);
}

.menuItem {
    border-radius: 15px;
    width: 300px;
    height: 350px;
    margin: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.menuItem:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
    cursor: pointer;
}

.menuItem div {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-outline-warning {
    --bs-btn-color: rgb(255, 127, 0);
    --bs-btn-border-color: rgb(255, 127, 0);
    --bs-btn-hover-color: #243763;
    --bs-btn-hover-bg: rgb(255, 127, 0);
    --bs-btn-hover-border-color: rgb(255, 127, 0);
    --bs-btn-focus-shadow-rgb: 255, 193, 7;
    --bs-btn-active-color: #243763;
    --bs-btn-active-bg: rgb(255, 127, 0);
    --bs-btn-active-border-color: rgb(255, 127, 0);
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: rgb(255, 127, 0);
    --bs-btn-disabled-border-color: rgb(255, 127, 0);
    margin-bottom: 3rem;

}

.btnComanda {
    margin-bottom: 5rem;
}

@media only screen and (max-width: 1300px) {
    .menuList {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 800px) {
    .menuList {
        grid-template-columns: 1fr;
    }
}